*{
	box-sizing: border-box;
}
h1,h2,p{
	margin: 0;
}
body{
	margin: 0;
	font-family:'Roboto',sans-serif;
}
.container{
	margin: 0 auto;
	max-width: 970px;
	padding: 0 10px;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: unset;
}