.mobile__navigation {
	display: none;
	position: absolute;
	top: 55px;
	right:25px;
}
.burger-icon,.cross-icon  {
	cursor: pointer;
}
.mobile__navigation-toggler {
	display: none;
}
.mobile__navigation-menu {
	padding: 55px 20px 0;
	position: fixed;
	background-color:var(--bg_main);
	inset: 0;
	translate: 100% 0;
	transition: all .33s;
}
.mobile__navigation-toggler:checked + .mobile__navigation-menu {
	translate: 0;
	visibility: visible;
}
.mobile__navigation-list {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
.mobile__navigation-link {
	font-style: 34px;
	font-weight: 700;
	color: var(--font_color-grey);
}
.mobile__navigation-link:hover{
	color:var(--color-main_black);
}

.mobile__navigation-close{
	position: absolute;
	top: 55px;
	right:25px;
}

@media(max-width:480px){
	.mobile__navigation {
		display: block;
	}	
}